<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <title>Welcome - Join or Create Room</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
<!--    <link rel="stylesheet" href="/static/style.css"> &lt;!&ndash; Link to custom CSS &ndash;&gt;-->
</head>
<body>
<div class="container">
    <h1>Spydle</h1>
    <form action="/create-room" method="post">
        <input type="text" name="nickname" placeholder="Enter your nickname" required>
        <button type="submit">Create Room</button>
    </form>

    <h2>Join an existing room</h2>
    <form action="/join-room" method="post">
        <input type="text" name="nickname" placeholder="Enter your nickname" required>
        <input type="text" name="roomCode" placeholder="Room code" required>
        <button type="submit">Join Room</button>
    </form>
</div>
</body>
</html>
